[Unit]
Description=Gedis Proxy
After=syslog.target

[Service]
ExecStart=/usr/local/bin/gedis-proxy
RestartSec=5s
Restart=on-success

[Install]
WantedBy=multi-user.target
